body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('/static/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('/static/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}
